<div class="section introduction">
  <div class="container">
    <div class="row">
      <div class="section-video-content text-center" >
        <h1 class="fittext wite-text uppercase tlt heading_big">
          <span class="texts">
            <span>Your</span>
            <span>Privacy</span>
            <span>Matters</span>
          </span>
        </h1>
        <h3 class="fittext wite-text uppercase tlt">No matter where you are storing
          your files, your privacy is important</h3>
      </div>
    </div>
  </div>
</div>
<div class="section service">
  <div class="container">
    <div class="row">
      <div class="text-center" >
        <h1 class="uppercase tlt" style="font-size: 40px;">
          Securely Store Your files In the Cloud
        </h1>
      </div>
      <div class="col-md-1 col-sm-6 service-box">
      </div>
      <div class="col-md-10 col-sm-6 service-box">
        <br>
      <p>
      BeaverDriver will provide you with a full feature tool to centraly manage all your different cloud
      storage providers. You will be able to safetly store and share personal information or documents on Dropbox, Google Drive,
      Amazon S3, OneDrive, iDrive or Beaverdrive's infrastructure, located on Canadian Soil. Access all files
      from all providers in one simple easy to use web interface or direclty from your desktop computer.
      </p>
      <br>
      <p class="text-center">
        <a class="btn-system btn-large" href="#">View Featured List and Integration</a>
      </p>
      </div>
      <div class="col-md-1 col-sm-6 service-box">
      </div>
    </div>
  </div>
</div>
<div class="section purchase">
  <div class="container">
    <div class="section-video-content text-center">
      <h1 class="fittext wite-text uppercase tlt">
        <span class="texts">
          <span>share</span>
          <span>Freely</span>
        </span></h1>
        <p style="color: #fff; font-size: 24px; line-height: 30px; margin-top: -30px;">have the ability to securely share your files
          and folders with your surrounding worry free.
        </p>
    </div>
  </div>
</div>
<div class="section service">
  <div class="container">
    <div class="row">
      <div class="text-center" >
        <h1 class="uppercase tlt" style="font-size: 40px;">
          Full Featured List
        </h1>
      </div>
      <br>
      <br>
      <div class="col-md-4 service-box service-icon-left-more">
        <h4><i class="fa fa-bars"></i>&nbsp;Platform Features</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            Connect on-premise file systems using WebDav and FTP(S)
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Cloud File System aggregates storage clouds into a virtual Cloud
            File System view
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Encrypt data on remote clouds with public/private key
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Web File Explorer just like on your desktop. Drag, Copy. move files etc
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Secure managed file sharing with link expiry and secure passwords
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            File sharing using generated URL
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Public file sharing page with unique url. Can be combined with
            password protection
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Backup / Archive email directly to a nominated Cloud
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Contacts to Cloud integration with email, Social networks,
            and Outlook
          </li>
        </ul>
        <br>
        <h4><i class="fa fa-windows"></i>&nbsp;Operating System Tools</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            Windows Dashboard, Cloud Drive & Sync Tooling
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Windows 8 Tablet
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Mac Cloud Drive, Spotlight integration and Sync Tooling
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Linux Cloud Drive, Cloud Explorer, and Sync Tooling
          </li>
        </ul>
        <br>
        <h4><i class="fa fa-mobile"></i>&nbsp;Mobile Support</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            iPhone/iPad/Ipod Touch
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Android phones and Tablets
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            BlackBerry
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Nokia N7
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Windows Phone 7
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            HTML5 rich Mobile client for other Mobile devices
          </li>
      </div>
      <div class="col-md-4 service-box service-icon-left-more">
        <h4><i class="fa fa-users"></i>&nbsp;Collaborative Features</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            File Comments with notifications
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Business Collaboration WorkSpaces
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Versioning Management
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            File locking
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Public shared folders with user permission management
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Visual versioning (web) and versioning management (Cloud File Server)
          </li>
        </ul>
        <br>
        <h4><i class="fa fa-lock"></i>&nbsp;Secure features</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            AES F256 bit ile encryption above any cloud
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            User permissions for file access (Cloud File Server only)
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            File Locking
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            File event auditing (Cloud File Server only)
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            HTTPS / SSL support
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            File GEO location upload/download monitoring
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Cloud to Cloud backup (Personal Cloud and business editions only)
          </li>
        </ul>
        <br>
        <h4><i class="fa fa-crosshairs"></i>&nbsp;Third Party integrations</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
            Firefox plug-in
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Chrome Extension
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Safari Extension
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Facebook App
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            WordPress Plug-in's
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Joomla Plug-In's
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Twitter integration for notifications / file sharing
          </li>
        </ul>
      </div>
      <div class="col-md-4 service-box service-icon-left-more">
        <h4><i class="fa fa-plug"></i>&nbsp;Available Connectors</h4>
        <ul>
          <li><i class="fa fa-check-square-o feature"></i>
             Amazon S3
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
             Gmail / Google Drive / Google Apps
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Box
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            FTP/FTPS/SFTP
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            SkyDrive
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            DropBox
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Zimbra
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Windows Azure
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            CIFS
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            CloudMe
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Sharepoint
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            OpenStack Compatible Cloud
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            SwiftStack
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Office 365
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Basecamp
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            SugarSync
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Ubuntu One
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            HP Cloud
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            iCloud
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Cloudian
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            IBM Connection Files
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            Outlook / Mac Mail
          </li>
          <li><i class="fa fa-check-square-o feature"></i>
            SalesFroce
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="section quote">
  <div class="container">
    <div class="section-video-content text-center">
      <h1 class="fittext wite-text uppercase tlt">
        <span class="texts">
          <span>Secure</span>
          <span>And</span>
          <span>Safe</span>
        </span></h1>
        <p style="color: #fff; font-size: 24px; line-height: 30px; margin-top: -30px;">Our software will encrypt your data on your computer
          before transfering to your choosen storage. This means that your data
          is 100% private and only readable by you. No plaintext data, no keys
          is ever stored on the servers.
        </p>
    </div>
  </div>
</div>
<div id="content">
  <div class="container" style="width: 900px;">
    <div class="page-content">
      <div class="call-action call-action-boxed call-action-style1 clearfix">
        <div style="margin-top: 10px; float: right; " class="button-side">
          <a class="btn-system border-btn btn-medium" href="#"><i class="icon-basket"></i>SIGN-UP NOW</a>
        </div>
        <h2 class="primary"><strong>Sign-up Now!</strong>&nbsp;We are looking for testers!</h2>
        <p>Get the latest new, product update and relase dates.</p>
      </div>
    </div>
  </div>
</div>
